header{
    position:absolute;
    background-color: black;
    z-index: 2;
    left: 0;
    width:100%;
}
body{
    background-image: url('./imagenes/Perro_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background:linear-gradient(135deg,rgba(0,0,0,0.85),rgba(0,0,0,1));
}
.form{
    z-index: 2;
    top:20vh;
    position: relative;
    font-style:italic;
    color: white;
}
img{
    border-radius: 20px;
    border: 2px solid black;
}
footer{
    background-color: black;
    color: white;
    position: relative;
    z-index: 2;
    padding-left: 10px;
    top:60vh;
}
