header{
    background-color: black;
    position:absolute;
    z-index: 2;
    left: 0;
    width:100%;
}

body{
    background-image: url('./imagenes/Perro_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background:linear-gradient(135deg,rgba(0,0,0,0.85),rgba(0,0,0,1));
}
.form{
    z-index: 2;
    top:10vh;
    position: relative;
    font-style:italic;
    color: white;
}
img{
    border-radius: 24px;
    border: 2px solid black;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}